In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

In [7]:
data = pd.read_csv("data/translated_new.csv")

drop_cols = [
    "occupation_en",
    "address_en",
    "occupation_label"
]  # columns to drop

data.drop(drop_cols, axis=1, inplace=True)
display(data)

del drop_cols

,Patient_ID,Age,Sex,Smoke,Smoke_amount,Height,Weight,BMI,BSA,occupation_category,M_mean,M_median,M_std,M_min,M_max,A_mean,A_median,A_std,A_min,A_max,M_20th_quantile,M_25th_quantile,M_50th_quantile,M_75th_quantile,A_20th_quantile,A_25th_quantile,A_50th_quantile,A_75th_quantile
0,SB-001,43,M,NS,0,156,76,31.229454,1.814754,Housewife,350.422156,360.0,43.416750,125.0,576.0,350.020958,360.0,44.333461,160.0,606.0,324.0,339.0,360.0,380.0,322.0,339.0,360.0,380.0
1,SB-002,66,M,NS,0,163,58,21.829952,1.620528,Manufacturing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SB-003,61,M,ES,20,173,67,22.386314,1.794358,Construction,467.172932,470.0,9.241415,410.0,500.0,467.280075,470.0,9.260246,420.0,500.0,460.0,460.0,470.0,470.0,460.0,460.0,470.0,470.0
3,SB-004,49,M,NS,0,142,51,25.292601,1.418332,Housewife,320.014904,315.0,22.555750,240.0,450.0,316.691270,300.0,21.973556,250.0,450.0,300.0,300.0,315.0,337.0,300.0,300.0,300.0,330.0
4,SB-005,53,M,NS,0,156,70,28.763971,1.741647,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,SB-118,82,F,NS,0,153,52,22.213679,1.486607,Service Industry,310.107527,310.0,12.291268,280.0,340.0,314.225806,310.0,12.763849,300.0,340.0,300.0,300.0,310.0,320.0,300.0,300.0,310.0,330.0
95,SB-119,69,F,NS,0,158,67,26.838648,1.714805,Housewife,309.177885,300.0,24.446858,250.0,440.0,314.328526,300.0,25.077717,250.0,500.0,290.0,300.0,300.0,320.0,300.0,300.0,300.0,328.5
96,SB-120,71,F,ES,1,160,58,22.656250,1.605546,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,SB-121,61,F,SM,5,157,58,23.530366,1.590423,Housewife,364.543226,360.0,19.248286,250.0,420.0,371.774194,370.0,18.639428,250.0,440.0,350.0,350.0,360.0,377.5,360.0,360.0,370.0,380.0
98,SB-122,72,M,NS,0,158,47,18.827111,1.436237,Housewife,258.706373,260.0,20.099043,180.0,300.0,258.023228,260.0,20.113535,27.0,310.0,250.0,250.0,260.0,270.0,250.0,250.0,260.0,270.0

In [8]:
Sex = ["M", "F"]

Smoke = ["NS", "ES", "SM"]

occupation_category = [
    "Housewife",
    "Manufacturing",
    "Construction",
    "Other",
    "Office",
    "Education",
    "Finance",
    "Unemployed",
    "Service Industry",
    "Agriculture",
    "Healthcare",
    "Transportation",
]
# occupation_label = [5, 6, 1, 8, 7, 2, 3, 11, 9, 0, 4, 10]


# Occupation = {
#     "Housewife": 5,
#     "Manufacturing": 6,
#     "Construction": 1,
#     "Other": 8,
#     "Office": 7,
#     "Education": 2,
#     "Finance": 3,
#     "Unemployed": 11,
#     "Service Industry": 9,
#     "Agriculture": 0,
#     "Healthcare": 4,
#     "Transportation": 10,
# }

In [9]:
import pandas as pd
import numpy as np


def bin_column(df, column_name, num_bins=4):
    # Create the bins
    bins = pd.qcut(df[column_name].dropna(), q=num_bins, labels=False)

    # Create labels for the bins
    labels = [f"{column_name}_Q{i+1}" for i in range(num_bins)]

    # Add the binned column to the dataframe
    df[f"{column_name}_binned"] = pd.cut(df[column_name], bins=num_bins, labels=labels)

    return df


cols_for_binning = [
    "A_20th_quantile",
    "A_25th_quantile",
    "A_50th_quantile",
    "A_75th_quantile",
    "A_max",
    "A_mean",
    "A_median",
    "A_min",
    "A_std",
    "M_20th_quantile",
    "M_25th_quantile",
    "M_50th_quantile",
    "M_75th_quantile",
    "M_max",
    "M_mean",
    "M_median",
    "M_min",
    "M_std",
]

for col in cols_for_binning:
    data = bin_column(data, col)


data.drop(cols_for_binning, axis=1, inplace=True)

del cols_for_binning

# Now df contains new columns with the binned data

In [10]:
data.dropna(inplace=True)

print(f"data.columns = {list(data.columns)}")

data.to_csv("data/translated_new_binned_DropNaN.csv", index=False)

data = pd.read_csv("data/translated_new_binned_DropNaN.csv")

display(data)

data.columns = ['Patient_ID', 'Age', 'Sex', 'Smoke', 'Smoke_amount', 'Height', 'Weight', 'BMI', 'BSA', 'occupation_category', 'A_20th_quantile_binned', 'A_25th_quantile_binned', 'A_50th_quantile_binned', 'A_75th_quantile_binned', 'A_max_binned', 'A_mean_binned', 'A_median_binned', 'A_min_binned', 'A_std_binned', 'M_20th_quantile_binned', 'M_25th_quantile_binned', 'M_50th_quantile_binned', 'M_75th_quantile_binned', 'M_max_binned', 'M_mean_binned', 'M_median_binned', 'M_min_binned', 'M_std_binned']

,Patient_ID,Age,Sex,Smoke,Smoke_amount,Height,Weight,BMI,BSA,occupation_category,A_20th_quantile_binned,A_25th_quantile_binned,A_50th_quantile_binned,A_75th_quantile_binned,A_max_binned,A_mean_binned,A_median_binned,A_min_binned,A_std_binned,M_20th_quantile_binned,M_25th_quantile_binned,M_50th_quantile_binned,M_75th_quantile_binned,M_max_binned,M_mean_binned,M_median_binned,M_min_binned,M_std_binned
0,SB-001,43,M,NS,0,156,76,31.229454,1.814754,Housewife,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q2,A_std_Q1,M_20th_quantile_Q2,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q1,M_std_Q1
1,SB-003,61,M,ES,20,173,67,22.386314,1.794358,Construction,A_20th_quantile_Q3,A_25th_quantile_Q3,A_50th_quantile_Q3,A_75th_quantile_Q3,A_max_Q1,A_mean_Q2,A_median_Q3,A_min_Q4,A_std_Q1,M_20th_quantile_Q3,M_25th_quantile_Q3,M_50th_quantile_Q3,M_75th_quantile_Q3,M_max_Q1,M_mean_Q3,M_median_Q3,M_min_Q3,M_std_Q1
2,SB-004,49,M,NS,0,142,51,25.292601,1.418332,Housewife,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q2,A_std_Q1,M_20th_quantile_Q2,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q2,M_std_Q1
3,SB-006,64,M,ES,17,172,80,27.041644,1.955050,Manufacturing,A_20th_quantile_Q3,A_25th_quantile_Q3,A_50th_quantile_Q3,A_75th_quantile_Q3,A_max_Q1,A_mean_Q2,A_median_Q3,A_min_Q1,A_std_Q1,M_20th_quantile_Q3,M_25th_quantile_Q3,M_50th_quantile_Q3,M_75th_quantile_Q3,M_max_Q1,M_mean_Q3,M_median_Q3,M_min_Q3,M_std_Q1
4,SB-007,46,M,NS,0,155,52,21.644121,1.496292,Housewife,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q1,A_std_Q1,M_20th_quantile_Q2,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q1,M_std_Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,SB-117,61,F,NS,0,155,58,24.141519,1.580260,Housewife,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q1,A_std_Q1,M_20th_quantile_Q1,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q1,M_std_Q2
82,SB-118,82,F,NS,0,153,52,22.213679,1.486607,Service Industry,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q3,A_std_Q1,M_20th_quantile_Q2,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q2,M_std_Q1
83,SB-119,69,F,NS,0,158,67,26.838648,1.714805,Housewife,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q2,A_std_Q1,M_20th_quantile_Q2,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q2,M_std_Q1
84,SB-121,61,F,SM,5,157,58,23.530366,1.590423,Housewife,A_20th_quantile_Q3,A_25th_quantile_Q3,A_50th_quantile_Q2,A_75th_quantile_Q2,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q2,A_std_Q1,M_20th_quantile_Q3,M_25th_quantile_Q3,M_50th_quantile_Q2,M_75th_quantile_Q2,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q2,M_std_Q1
85,SB-122,72,M,NS,0,158,47,18.827111,1.436237,Housewife,A_20th_quantile_Q2,A_25th_quantile_Q2,A_50th_quantile_Q2,A_75th_quantile_Q1,A_max_Q1,A_mean_Q1,A_median_Q2,A_min_Q1,A_std_Q1,M_20th_quantile_Q2,M_25th_quantile_Q2,M_50th_quantile_Q2,M_75th_quantile_Q1,M_max_Q1,M_mean_Q2,M_median_Q2,M_min_Q2,M_std_Q1